@font-face {
  font-family: "soraBold";
  src: local("soraBold"), url("./fonts/sora/Sora-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "sora";
  src: local("sora"), url("./fonts/sora/Sora-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "soraBold";
}

p {
  font-family: "sora";
}

.App {
  overflow: hidden;
}

#headerSliderContainer {
  height: 100vh;
  width: 100vw;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  height: 70px;
  width: 90%;
  margin: 20px auto;
  color: white;
  font-size: 20px;
  position: relative;
  z-index: 3;
}

#logo {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

#headerRight {
  display: flex;
  justify-content: space-between;
}

#headerLeft {
  display: flex;
}

.navigations {
  margin: 0px 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#slider {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: 1;
}

#holder {
  width: 600%;
  display: flex;
  position: relative;
  transition: all 2s;
}

.blackout {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: 40%;
}

.sliderImg {
  width: 100vw;
  height: 100vh;
}

.imageContainer {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  float: left;
}

.imageText {
  position: absolute;
  font-size: 20px;
  color: white;
  z-index: 2;
  opacity: 0;
  transition: all 3s;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "sora";
  height: 300px;
}

#family {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-family: "sora";
  margin-left: 50px;
  margin-top: 300px;
  height: 300px;
}

.buttons {
  height: 50px;
  background: none;
  border: 2px solid white;
  color: white;
  transition: all 0.2s;
  padding: 10px;
  margin: 20px auto;
  font-size: 20px;
  cursor: pointer;
}

.buttons:hover {
  background-color: white;
  color: black;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  margin: 0px 10px;
  z-index: 2;
}

#circleContainer {
  position: absolute;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}
