@font-face {
  font-family: "soraBold";
  src: local("soraBold"), url("./fonts/sora/Sora-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "sora";
  src: local("sora"), url("./fonts/sora/Sora-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "soraBold";
}

p {
  font-family: "sora";
}

.App {
  overflow: hidden;
}

#headerSliderContainer {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

#aboutContainer {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  height: 70px;
  width: 90%;
  color: white;
  font-size: 20px;
  position: relative;
  top: 30px;
  left: auto;
  margin: 0px auto;
  z-index: 3;
}

#logo {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.links {
  text-decoration: none;
  color: white;
}

#headerRight {
  display: flex;
  justify-content: space-between;
}

#headerLeft {
  display: flex;
}

.navigations {
  margin: 0px 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

#hamburger {
  display: none;
  cursor: pointer;
  transition: color 0.5s;
}

#hamburger:hover {
  color: rgb(7, 7, 184);
}

#hamburgerNavigationsContainer {
  position: fixed;
  right: -220px;
  top: 0px;
  background: rgb(13, 5, 138);
  background: linear-gradient(
    90deg,
    rgba(13, 5, 138, 1) 0%,
    rgba(14, 14, 177, 1) 45%,
    rgba(41, 14, 144, 1) 84%
  );
  height: 100vh;
  width: 150px;
  transition: all 1s;
  padding: 10px;
  display: none;
  font-size: 18px;
}

.hamburgerNavigation {
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

.hamburgerNavigation:hover {
  transform: translate(5px);
}

#hamburgerBackground {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;
}

.navigations:hover {
  color: rgb(7, 7, 184);
}

#slider {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0px;
  z-index: 1;
}

.heroContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0px;
  z-index: 1;
}

#holder {
  width: 500%;
  display: flex;
  position: relative;
  transition: right 2s;
}

.blackout {
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.5;
}

.blackoutSlide {
  max-width: 20%;
}

.sliderImg {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.imageContainer {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  float: left;
}

.imageText {
  position: absolute;
  font-size: 20px;
  color: white;
  z-index: 2;
  opacity: 0;
  transition: opacity 3s;
  height: 300px;
  margin-left: 50px;
  margin-top: 600px;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "sora";
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
  line-height: 45px;
}

.onWhiteButtons {
  border: 2px solid black;
  color: black;
}

.onWhiteButtons:hover {
  border: 2px solid black;
  color: white;
}

.onBlackButtons {
  border: 2px solid white;
  color: white;
}

.buttons {
  height: auto;
  background: none;
  transition: all 0.2s;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgb(7, 7, 184);
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  margin: 0px 10px;
  z-index: 2;
  transition: all 0.5s;
  border: 2px black solid;
}

.circle:hover {
  background-color: rgb(7, 7, 184);
}

.circle:focus {
  background-color: rgb(7, 7, 184);
}

#circleContainer {
  position: absolute;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

#paul {
  width: 50%;
}

#gorilla {
  width: 50%;
}

#gorillaDescription {
  width: 30%;
  margin: 0px auto;
  height: 30%;
  line-height: 40px;
  position: relative;
  opacity: 0;
  right: 200px;
}

#instructorsDescription {
  width: 30%;
  margin: 0px auto;
  height: 30%;
  line-height: 40px;
  position: relative;
  left: 200px;
  opacity: 0;
}

#aboutText {
  left: 10%;
  margin-top: -150px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  font-weight: bold;
  white-space: pre-wrap;
}

#otherText {
  margin-top: 150px;
  margin-left: 0px;
}

#aboutHeaderSliderContainer {
  height: 100vh;
}

#instructorListContainer {
  height: 700px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructorBios {
  display: flex;
  justify-content: space-evenly;
}

.instructorBio {
  width: 20%;
  text-align: center;
  opacity: 0;
  transition: opacity 3s;
}

.instructorText {
  margin: 20px 0px;
}

.instructorName {
  font-size: 25px;
  color: rgb(7, 7, 184);
}

.instructorTitle {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

.bioDescription {
  font-size: 15px;
  line-height: 25px;
}

.bioImage {
  border-radius: 50%;
  width: 250px;
  height: auto;
}

@media (max-width: 950px) {
  .navigations {
    display: none;
  }
  .bioImage {
    width: 200px;
  }

  #otherText {
    margin-top: 50px;
  }
  #slider {
    height: 70vh;
  }
  #gymTitle {
    font-size: 20px;
  }
  #headerSliderContainer {
    height: 70vh;
  }
  #aboutHeroContainer {
    height: 70vh;
  }
  #aboutHeaderSliderContainer {
    height: 70vh;
  }

  #holder {
    height: 70vh;
  }

  #hamburger {
    display: block;
  }
  #hamburgerNavigationsContainer {
    display: block;
  }

  #aboutText {
    line-height: 30px;
    font-size: 13px;
    width: 90%;
    max-width: 80%;
    margin-top: -100px;
    height: 50%;
  }

  .circle {
    height: 15px;
    width: 15px;
  }

  #circleContainer {
    width: 80%;
  }

  .imageText {
    font-size: 15px;
    max-width: 500px;
    height: 100px;
    margin-top: 100px;
    line-height: 50px;
  }

  #aboutHeroContainer {
    height: 70vh;
  }

  .imageContainer {
    height: 70vh;
  }

  #aboutImageContainer {
    height: 70vh;
  }
  #aboutImage {
    height: 70vh;
  }

  #instructorContainer {
    flex-direction: column;
  }

  #gorillaContainer {
    flex-direction: column;
  }

  #gorillaDescription {
    width: 50%;
    margin: 50px 0px;
    order: 1;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
  }
  #instructorsDescription {
    width: 50%;
    margin: 80px 0px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
  }

  #paul {
    width: 100%;
    order: 2;
    max-height: 600px;
  }
  #gorilla {
    width: 100%;
    order: 2;
    max-height: 600px;
  }
}

@media (max-width: 400px) {
  #gymTitle {
    display: none;
  }

  #aboutText {
    line-height: 20px;
    font-size: 10px;
    width: 90%;
    max-width: 80%;
    margin-top: 0px;
    height: 60%;
    left: -5%;
  }

  #aboutHeroContainer {
    height: 100vh;
  }

  #aboutHeaderSliderContainer {
    height: 100vh;
  }

  #aboutImageContainer {
    height: 100vh;
  }
  #aboutImage {
    height: 100vh;
  }

  .imageText {
    font-size: 10px;
    max-width: 200px;
    margin-top: 0px;
    height: 100px;
    line-height: 25px;
  }

  #welcome {
    line-height: 20px;
  }

  #gorillaDescription {
    width: 50%;
    margin: 50px 0px;
    order: 1;
    font-size: 10px;
    line-height: 40px;
  }
  #instructorsDescription {
    width: 50%;
    margin: 80px 0px;
    font-size: 10px;
    line-height: 40px;
  }
}

#instructorContainer {
  display: flex;
  align-items: center;
}

#gorillaContainer {
  display: flex;
  align-items: center;
}

@keyframes slideleft {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(-200px);
    opacity: 1;
  }
}

@keyframes slideright {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(200px);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .instructorDescription-animation {
    animation: slideleft 1s forwards;
  }

  .gorillaDescription-animation {
    animation: slideright 1s forwards;
  }

  .instructorBio-animation {
    animation: fadein 2s forwards;
  }
}

#galleryImagesContainer {
  width: 80%;
  margin: 50px auto;

  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

.slideGalleryImage {
  width: 30vw;
  height: auto;
  top: 0;
  left: 0;
}

@media (max-width: 1200px) {
  #galleryImagesContainer {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }

  .slideGalleryImage {
    width: 50vw;
    height: auto;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1000px) {
  #galleryImagesContainer {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  #galleryImagesContainer {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #galleryImagesContainer {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

#galleryImagesContainer img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.galleryImage {
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.galleryImage:hover {
  opacity: 0.5;
}

#gallerySliderContainer {
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  transition: all 0.5s;
}

#gallerySlideImageBackground {
  height: 100vh;
  width: 100vw;
  position: absolute;
  opacity: 0.7;
  background-color: black;
  z-index: -1;
}

/* Schedule  */

#scheduleContainer {
  display: flex;
  justify-content: center;
}

.schedule {
  display: grid;
  grid-template-rows:
    [head-days] 0.5fr
    [time-0630] 0.5fr
    [time-0700] 0.5fr
    [time-0730] 0.5fr
    [time-0800] 0.5fr
    [time-0830] 0.5fr
    [time-1600] 0.5fr
    [time-1630] 0.5fr
    [time-1700] 0.25fr
    [time-1715] 0.25fr
    [time-1730] 0.5fr
    [time-1800] 0.5fr
    [time-1830] 0.5fr
    [time-1900] 0.5fr
    [time-1930] 0.5fr
    [time-2000] 0.5fr
    [time-2030] 0.5fr
    [time-2100] 0.5fr
    [time-2130] 0.5fr;

  height: 1000px;
  width: 70%;
  margin: 100px 0px;
  grid-template-columns:
    [times] 6em
    [track-1-start] 18%
    [track-1-end track-2-start] 18%
    [track-2-end track-3-start] 18%
    [track-3-end track-4-start] 18%
    [track-4-end] 18%;
  gap: 5px;
  justify-items: stretch;
}

.session {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px;
  font-size: 13px;
  align-items: center;
}

.days {
  grid-row: head-days;
  text-align: center;
  background-color: rgb(7, 7, 184);
  color: white;
  line-height: 60px;
}
.times {
  grid-column: times;
  width: 100%;
}

.nogi {
  background-color: rgb(129, 26, 60);
  grid-row: time-0630 / time-0800;
}

.nogiEvening {
  background-color: rgb(129, 26, 60);
  grid-row: time-2000 / time-2130;
}

.gi {
  background-color: rgb(51, 117, 51);
  grid-row: time-2000 / time-2130;
}

.gi-early {
  background-color: rgb(51, 117, 51);
  grid-row: time-1900 / time-2030;
}

.kids {
  background-color: rgb(95, 30, 95);
  grid-row: time-1630/time-1715;
}

.teens {
  background-color: rgb(62, 62, 121);
  grid-row: time-1715/time-1800;
}

.wrestling {
  background-color: rgb(71, 108, 230);
  grid-row: time-1900 / time-2030;
}

.monday {
  grid-column: track-1-start;
  width: 100%;
}
.tuesday {
  grid-column: track-2-start;
  width: 100%;
}
.wednesday {
  grid-column: track-3-start;
  width: 100%;
}
.thursday {
  grid-column: track-4-start;
  width: 100%;
}
.friday {
  grid-column: track-4-end;
  width: 100%;
}

@media (max-width: 1200px) {
  .session {
    font-size: 10px;
  }

  .schedule {
    width: 90%;
  }
}

/* location */

#mapContainer {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
